body{
    background-color: black;
}

.name{
    text-align: center;
    color: darkkhaki;
}

.tudo{
    display: flex;
    justify-content: space-around;
}

.esquerda{
    color: darkkhaki;
    margin: 40px;
    padding: 70px;
    flex: wrap;
}

.esquerda h1{
    text-align: center;
    font-size: 40px;
}

.esquerda h2{
    text-align: center;
}

.direita img{
   border-radius: 40px;
   height: 700px;
   width: 400px;
   margin: 70px;
   flex: wrap;
   
}

.moments{
    color: darkkhaki;
    text-align: center;
    font-size: 20px;
}

.imgmoments{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: wrap;
}

.imgmoments img{
    height: 300px;
    width: 350px;
    border-radius: 50px;
    object-fit: cover;
}

.musicas{
    color: darkkhaki;
    text-align: center;
   padding-top: 30px;
}

.iframe{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: wrap;
    gap: 50px;
    padding: 30px;
    
}